.bison-pasture {
    /* default background if no daytime is set */
    background: linear-gradient(to top, darkgreen 0%, green 20%, limegreen 40%, limegreen 51%, #FFFFFF00 52%);
    display: grid;
    grid-template:
        "1fr 1fr 1fr 1fr 1fr 1fr"
        "1fr 1fr 1fr 1fr 1fr 1fr"
        "1fr 1fr 1fr 1fr 1fr 1fr";
    grid-template-columns: 6;
    grid-template-rows: 3;
    height: 100%;
    min-height: 128px;
    border-radius: 1rem;
}
.bison-pasture {
    #sunmoon, #cloudstars1, #cloudstars2 {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    #sunmoon {
        grid-area: "sun";
        grid-row-start: 1;
        grid-row-end: 1;
        justify-self: center;
        align-self: center;
        width: 24px;
        height: 24px;
    }
    #cloudstars1 {
        grid-area: "cloudstars1";
        grid-row-start: 1;
        grid-row-end: 1;
        justify-self: center;
        align-self: center;
        width: 28px;
        height: 28px;
    }
    #cloudstars2 {
        grid-area: "cloudstars2";
        grid-row-start: 1;
        grid-row-end: 1;
        justify-self: start;
        align-self: center;
        opacity: 90%;
        width: 22px;
        height: 22px;
    }
    .bison {
        grid-area: "bison";
        align-self: center;
        grid-row-start: 2;
        grid-row-end: 2;
        width: 50px;
    }
    .herb1 {
        grid-area: "herb1";
        align-self: center;
        transform: translateY(10px);
        grid-row-start: 2;
        grid-row-end: 2;
        width: 16px;
        opacity: 62%;
        /* filter:invert(1); */
        mix-blend-mode: darken;
    }
    .tree {
        grid-area: "tree";
        grid-row-start: 2;
        grid-row-end: 2;
        /* the tree doesn't change position with the scene orientation */
        grid-column-start: 2;
        grid-column-end: 2;
        align-self: start;
        justify-self: start;
        width: 50px;
    }
    .flower {
        grid-area: "flower";
        grid-row-start: 3;
        grid-row-end: 3;
        width: 16px;
    }
}
.bison-pasture.sunnyday {
    /* daytime background */
    background: linear-gradient(to top, darkgreen 0%, green 20%, limegreen 40%, limegreen 51%, #8EF 52%, #0DF 100%);
    #sunmoon {
        background-image: url('../img/icons/environment/sun-svgrepo-com.svg');
        filter:drop-shadow(0px 0px 8px #FFBB55DD);
    }
    #cloudstars1, #cloudstars2 {
        background-image: url('../img/icons/environment/cloud-svgrepo-com.svg');
    }
}
.bison-pasture.rainyday {
    /* daytime background */
    background: linear-gradient(to top, darkgreen 0%, green 20%, limegreen 40%, limegreen 51%, #8EF 52%, #0DF 100%);
    #sunmoon {
        background-image: url('../img/icons/environment/rain-svgrepo-com.svg');
        filter:drop-shadow(0px 0px 8px #FFFFFFDD);   
    }
}
.bison-pasture.clearnight {
    /* daytime background */
    background: linear-gradient(to top, darkslategray 0%, darkcyan 20%, steelblue 40%, steelblue 51%, #26A 52%, #135 100%);
    #sunmoon {
        background-image: url('../img/icons/environment/moon-svgrepo-com.svg');
        filter:drop-shadow(0px 0px 12px #AAEEFFCC);
    }
}
.bison-pasture.cloudynight {
    /* daytime background */
    background: linear-gradient(to top, darkslategray 0%, darkcyan 20%, steelblue 40%, steelblue 51%, #26A 52%, #135 100%);
    #sunmoon {
        filter:drop-shadow(0px 0px 12px #AAEEFFCC);
    }
}
.bison-pasture.left {
    #sunmoon {
        grid-column-start: 2;
        grid-column-end: 2;
    }
    #cloudstars1 {
        grid-column-start: 4;
        grid-column-end: 4;
    }
    #cloudstars2 {
        grid-column-start: 5;
        grid-column-end: 5;
    }
    .bison {
        justify-self: start;
        grid-column-start: 4;
        grid-column-end: 4;
        transform: scaleX(-1);
    }
    .herb1 {
        justify-self: end;
        grid-column-start: 3;
        grid-column-end: 3;
    }
    .flower {
        grid-column-start: 4;
        grid-column-end: 4;
    }
}
.bison-pasture.right {
    #cloudstars1 {
        grid-column-start: 2;
        grid-column-end: 2;
    }
    #cloudstars2 {
        grid-column-start: 3;
        grid-column-end: 3;
    }
    #sunmoon {
        grid-column-start: 5;
        grid-column-end: 5;
    }
    .bison {
        justify-self: end;
        grid-column-start: 3;
        grid-column-end: 3;
    }
    .herb1 {
        justify-self: start;
        grid-column-start: 4;
        grid-column-end: 4;
    }
    .flower {
        grid-column-start: 4;
        grid-column-end: 4;
    }
}