:root {
    --blue: #0055FF;
    --light-blue: #0099EE;
    --white: #F7F7F7;
    --black: #111;
}
body, html {
    transition: linear;
    transition-property: all;
    transition-duration: 250ms;
}
select {
    font-size: 11pt;
    padding: 0.5ch;
}

main section {
    padding: 2rem;
}
.img-underlay-container {

    position: relative;
    width: 100%;
    height: 100%;

    div.img-underlay {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;
    }
    section, section *   {
        z-index: 10;
        position: relative;
    }
}
.tech-icon-container {
    cursor: pointer;
}
.tech-icon-container img {
    height: 32px;
}
img.tech-modal-icon {
    height: 64px;
    margin: 24px auto;
}
.tech-icon-container img, img.tech-modal-icon {
    filter: drop-shadow(1px 4px 2px #00000055);
    width: auto;
    animation-name: coinSpin;
    animation-timing-function: linear;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}
.tech-icon-container:nth-of-type(2) img {
    animation-delay: 1s;
}
.tech-icon-container:nth-of-type(3) img {
    animation-delay: 2s;
}
@keyframes coinSpin {
    0% {
        transform: rotateY(0)
    }
    50% {
        transform: rotateY(180deg) scaleZ(10px);
    }
    100% {
        transform: rotateY(360deg)
    }
}

.grid-header {
    display: grid;
    grid-template-areas: 
    "header-pasture header-heading header-options";
    grid-template-columns: 25% 50% 25%;
}
.grid-header .area-header-pasture { grid-area: header-pasture; }
.grid-header .area-header-heading { grid-area: header-heading; }
.grid-header .area-header-options { grid-area: header-options; }

@media screen and (max-width: 800px) {
    .grid-header {
        grid-template-areas: 
        "header-heading"
        "header-options"
        "header-pasture";
        grid-template-columns: auto;
    }   
    .area-header-options {
        padding: 1em 0;
    }
    .center-on-breakpoint {
        text-align: center;
    }
}