:root {
    --blue: #0055FF;
    --light-blue: #0099EE;
    --white: #F7F7F7;
    --black: #111;
}
body, html, * {
    font-family: Tahoma, Geneva, Verdana, 'Liberation Sans', 'Open Sans', sans-serif;
    letter-spacing: 0.025ch;
}
select {
    font-size: 11pt;
    padding: 0.5ch;
}
section.spa-section {
    padding: 2rem;
}
button.btn.btn-seemore {
    background: #FFFFFF77;
}

.bull-pasture {
    /* default background if no daytime is set */
    background: linear-gradient(to top, darkgreen 0%, green 20%, limegreen 40%, limegreen 51%, #FFFFFF00 52%);
    display: grid;
    height: 100%;
}
.bull-pasture.day-right {
    /* daytime background */
    background: linear-gradient(to top, darkgreen 0%, green 20%, limegreen 40%, limegreen 51%, #8EF 52%, #0DF 100%);
    grid-template-areas: 
        "sky sun sky cloud sky sky"
        "grass tree herb-1 bull grass grass"
        "grass herb-2 grass flower grass grass";
}
.bull-pasture.day-right .bull {
    transform: scaleX(-100%);
}
.bull-pasture.night-left {
    /* daytime background */
    background: linear-gradient(to top, darkslategray 0%, darkcyan 20%, steelblue 40%, steelblue 51%, #26A 52%, #135 100%);
    grid-template-areas: 
        "sky moon stars cloud stars sky"
        "grass tree grass bull herb-1 grass"
        "grass herb-2 grass flower grass grass";
}
.bull-pasture .bull {
    grid-area: bull;
    width: 64px;
    height: auto;
}
.bull-pasture .herb-1 {
    grid-area: herb-1;
    align-self: center;
    width: 16px;
    height: auto;
}