:root {
   --car-width: 64px;
   --car-height: 36px;
   --car-primary-color: slategray;
   --car-secondary-color: lightslategray;
   --car-vibrate-animation: drag_race-car_vibrate 0.2s ease-in-out infinite;
   --car-throttle-animation: drag_race-car_throttle_onoff ease-in-out infinite;
   --car-handling-animation: drag_race-car_handling infinite;
   --car-handling-drift: 1px; /* DEFAULT VALUE WHICH CAN BE OVERRIDEN */
   --road-animation: drag_race-road_animation 0.2s linear infinite;
}

#picture_frame-drag_race .background,
#picture_frame-drag_race .highway,
#picture_frame-drag_race .highway:before,
#picture_frame-drag_race .highway:after,
#picture_frame-drag_race .highway .cars .car .body:after,
#picture_frame-drag_race .highway .cars .car .lights:after,
#picture_frame-drag_race .highway .cars .car .doors-wheels:before,
#picture_frame-drag_race .highway .cars .car .doors-wheels:after {
   content: '';
   position: absolute;
}

#picture_frame-drag_race .background { width: 100%; height: 100%; }
#picture_frame-drag_race .background * { width: 300%; height: 100%; }
#picture_frame-drag_race .background .cityscape {
   /* background: linear-gradient(
      to left,
      lightslategray 0% 48%,
      darkslategray 49% 50%,
      lightslategray 51% 98%,
      darkslategray 99% 100%);
   background-size: 33%; */
}

#picture_frame-drag_race .highway:before,
#picture_frame-drag_race .highway:after {
   width: 125%;
   height: 14px;
   background: linear-gradient(to right, lightslategray 0% 10%, #0000 10% 90%, lightslategray 90% 100%);
   background-size: 24px;
   border-bottom: 2px #678 solid;
   border-top: 4px #9ab solid;
   animation: var(--road-animation);
}
#picture_frame-drag_race .highway:before { top: -14px; }
#picture_frame-drag_race .highway:after {
   bottom: 0px;
   z-index: 100;
}

#picture_frame-drag_race .highway {
   width: 100%;
   height: 80%;
   top: 10%;
   background: linear-gradient(to bottom, slategray, darkslategray);
   /* outline-width: 4px;
   outline-color: #334;
   outline-offset: 0px;
   outline-style: solid; */
}
#picture_frame-drag_race .highway .road-lines .lane {
   position: absolute;
   /* display: flex;
   flex-direction: row;
   align-items: center; */
   height: 48%;
   width: 100%;
   z-index: 1;
}
#picture_frame-drag_race .highway .road-lines .lane hr {
   position: absolute;
   top: 2.5ch;
   width: 125%;
   color: whitesmoke;
   mask: repeating-linear-gradient(to left, #000 0 24px, transparent 24px 48px);
   border: none;
   border-top: solid whitesmoke 8px;
   animation: var(--road-animation);
}
#picture_frame-drag_race .highway .road-lines .division {
   position: absolute;
   border-top: 2px gold solid;
   border-bottom: 2px gold solid;
   height: 6px;
   width: 100%;
   top: calc(50% - 3px);
   z-index: 2;
}

#picture_frame-drag_race .highway .road-lines .lane:first-of-type {
   top: 1%;
   border-top: 2px whitesmoke solid;
   border-bottom: 2px whitesmoke solid;
}
#picture_frame-drag_race .highway .road-lines .lane:last-of-type {
   bottom: 1%;
   border-top: 2px lightgray solid;
   border-bottom: 2px lightgray solid;
}

#picture_frame-drag_race .highway .cars,
#picture_frame-drag_race .highway .cars .car,
#picture_frame-drag_race .highway .cars .car * {
   position: absolute;
}
#picture_frame-drag_race .highway .cars {
   width: 100%;
   height: 100%;
   z-index: 3;
}
#picture_frame-drag_race .highway .cars .car {
   width: var(--car-width);
   height: var(--car-height);
   top: var(--car-position-top);
   left: var(--car-position-left);
   filter: drop-shadow(1px 2px 0px #00000022);
}

#picture_frame-drag_race .highway .cars .car .body {
   background: var(--car-primary-color);
   width: 100%;
   height: 100%;
   clip-path: polygon(0% 30%, 10% 10%, 20% 10%, 20% 20%, 30% 0%, 70% 0%, 80% 20%, 95% 20%, 100% 40%,
   100% 60%, 85% 100%, 0% 100%);
}
#picture_frame-drag_race .highway .cars .car .body:after {
   background: #FFFFFF22;
   /* background: var(--car-secondary-color); */
   background-blend-mode: multiply;
   top: 0;
   right: 0;
   width: 100%;
   height: 90%;
   border-radius: 4px;
   clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 80% 100%, 80% 80%, 75% 60%, 65% 60%, 55% 20%, 20% 20%, 10% 50%, 10% 30%, 0% 30%, 0% 0%);
}
#picture_frame-drag_race .highway .cars .car .windows {
   opacity: 50%;
   position: absolute;
   background: linear-gradient(45deg, teal, skyblue);
   width: 60%;
   height: 48%;
   left: 18%;
   top: 2px;
   clip-path: polygon(0% 100%, 20% 35%, 32% 35%, 32% 100%, 38% 100%, 38% 35%, 55% 35%, 70% 100%, 80% 100%, 62% 35%, 85% 0%, 100% 40%, 77% 100%);
}

#picture_frame-drag_race .highway .cars .car .lights {
   height: 8px;
   top: 50%;
   right: 2px;
   width: calc(var(--car-height) / 4);
   background: linear-gradient(to bottom, whitesmoke, lightslategray);
   mask: linear-gradient(to right, #fff 0 33%, #777 33% 70%, #fff 70% 100%);
   mask-mode: luminance;
   transform: skewY(-59deg);
   /* transform: rotateZ(-60deg); */
   /* overflow: visible; */
}
#picture_frame-drag_race .highway .cars .car .lights:after {
   bottom: 0px;
   width: 100%;
   height: 2px;
   mask: unset;
   background: gold;
}
#picture_frame-drag_race .highway .cars .car .doors-wheels {
   width: calc(var(--car-width) * 0.625);
   bottom: 0px;
   left: 10%;
   height: 42%;
   border-top: #fff3 1px solid;
   border-radius: 25%;
   background: linear-gradient(to right, #0000 0% 48%, #fff2 49% 51%, #0000 52% 100%);
   border-bottom: #1117 2px solid;
}
#picture_frame-drag_race .highway .cars .car .doors-wheels:before,
#picture_frame-drag_race .highway .cars .car .doors-wheels:after {
   /* padding: 2px; */
   width: 14px;
   height: 14px;
   border-radius: 7px;
   bottom: -6px;
   background: repeating-conic-gradient(silver 0, lightslategray 20%, #567 33%);
   border: 3px #223 solid;
   animation: drag_race-wheel_speen 0.25s linear infinite;
}

#picture_frame-drag_race .highway .cars .car .doors-wheels:before {
   left: -4%;
}
#picture_frame-drag_race .highway .cars .car .doors-wheels:after {
   right: -4%;
}

#picture_frame-drag_race .highway .cars .car.car-1 {
   --car-position-top: 10%;
   --car-position-left: calc(75% - calc(var(--car-width) / 2));
   --car-primary-color: linear-gradient(to top, #992233, #BB4455);
   animation:
      var(--car-vibrate-animation),
      var(--car-throttle-animation) 2s;
}
#picture_frame-drag_race .highway .cars .car.car-2 {
   --car-position-top: 24%;
   --car-position-left: calc(52% - calc(var(--car-width) / 2));
   --car-primary-color: linear-gradient(to top, #112299, #3344BB);
   --car-handling-drift: 4px;
   animation:
      var(--car-vibrate-animation),
      var(--car-handling-animation) 2s linear,
      var(--car-throttle-animation) 3s;
}
#picture_frame-drag_race .highway .cars .car.car-3 {
   --car-position-top: 4%;
   --car-position-left: calc(35% - calc(var(--car-width) / 2));
   --car-primary-color: linear-gradient(to top, slategray, whitesmoke);
   animation:
      var(--car-vibrate-animation) reverse,
      var(--car-handling-animation) 3s ease-in-out reverse,
      var(--car-throttle-animation) 2s reverse;
}
#picture_frame-drag_race .highway .cars .car.car-4 {
   --car-position-top: 55%;
   --car-position-left: calc(44% - calc(var(--car-width) / 2));
   --car-primary-color: linear-gradient(to top, #DDBB22, #886611);
   animation:
      var(--car-vibrate-animation),
      var(--car-handling-animation) 2s reverse,
      var(--car-throttle-animation) 2.5s reverse;
}
#picture_frame-drag_race .highway .cars .car.car-5 {
   --car-position-top: 73%;
   --car-position-left: calc(25% - calc(var(--car-width) / 2));
   --car-primary-color: linear-gradient(to top, green, darkgreen);
   --car-handling-drift: 5px;
   animation:
      var(--car-vibrate-animation) reverse,
      var(--car-handling-animation) 2.5s linear reverse,
      var(--car-throttle-animation) 3s;
}

@keyframes drag_race-car_vibrate {
   0% {
      transform: translateX(0px);
   }
   100% {
      transform: translateY(0.5px);
   }
}

@keyframes drag_race-car_throttle_onoff {
   0% {
      left: calc(var(--car-position-left) - 2px);
   }
   50% {
      left: calc(var(--car-position-left) + 2px);
   }
   100% {
      left: calc(var(--car-position-left) - 2px);
   }
}
@keyframes drag_race-car_handling {
   0% {
      top: var(--car-position-top);
   }
   25% {
      top: calc(var(--car-position-top) + var(--car-handling-drift));
   }
   75% {
      top: calc(var(--car-position-top) - var(--car-handling-drift));
   }
   100% {
      top: var(--car-position-top);
   }
}
@keyframes drag_race-road_animation {
   0% {
      transform: translateX(0px);
   }
   100% {
      transform: translateX(-48px);
   }
}
@keyframes drag_race-wheel_speen {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(359deg);
   }
}