:root {
   --car-width: 64px;
   --car-height: 36px;
   --car-primary-color: slategray;
   --car-secondary-color: lightslategray;
}

#picture_frame-drag_race .cityscape-background,
#picture_frame-drag_race .highway {
    content: '';
    position: absolute;
}

 #picture_frame-drag_race .cityscape-background {
    width: 100%;
 }

 #picture_frame-drag_race .highway {
    width: 100%;
    height: 80%;
    top: 10%;
    background: linear-gradient(to bottom, slategray, darkslategray);
 }
 #picture_frame-drag_race .highway .road-lines .lane {
    position: absolute;
    /* display: flex;
    flex-direction: row;
    align-items: center; */
    height: 48%;
    width: 100%;
    z-index: 1;
 }
 #picture_frame-drag_race .highway .road-lines .lane hr {
    position: absolute;
    top: 2.5ch;
    width: 100%;
    color: whitesmoke;
    border: none;
    border-top: dashed whitesmoke 8px;
 }
 #picture_frame-drag_race .highway .road-lines .division {
    position: absolute;
    border-top: 2px gold solid;
    border-bottom: 2px gold solid;
    height: 6px;
    width: 100%;
    top: calc(50% - 3px);
    z-index: 2;
 }

 #picture_frame-drag_race .highway .road-lines .lane:first-of-type {
    top: 1%;
    border-top: 2px whitesmoke solid;
    border-bottom: 2px whitesmoke solid;
 }
 #picture_frame-drag_race .highway .road-lines .lane:last-of-type {
    bottom: 1%;
    border-top: 2px lightgray solid;
    border-bottom: 2px lightgray solid;
 }

#picture_frame-drag_race .highway .cars,
#picture_frame-drag_race .highway .cars .car,
#picture_frame-drag_race .highway .cars .car * {
   position: absolute;
}
#picture_frame-drag_race .highway .cars {
   width: 100%;
   z-index: 3;
}
#picture_frame-drag_race .highway .cars .car {
   width: var(--car-width);
   height: var(--car-height);
}

#picture_frame-drag_race .highway .cars .car.car-1 {
   top: 2%;
   left: calc(50% - calc(var(--car-width) / 2));
}
#picture_frame-drag_race .highway .cars .car.car-1 .body {
   --car-primary-color: linear-gradient(to top, #992233, #BB4455);
   /* --car-secondary-color: #ee6699; */
}

#picture_frame-drag_race .highway .cars .car .body {
   background: var(--car-primary-color);
   width: 100%;
   height: 100%;
   clip-path: polygon(0% 10%, 10% 0%, 20% 00%, 20% 20%, 30% 0%, 70% 0%, 80% 20%, 95% 20%, 100% 40%, 100% 60%, 90% 100%, 0% 100%);
}
#picture_frame-drag_race .highway .cars .car .body:after {
   content: '';
   background: #FFFFFF22;
   /* background: var(--car-secondary-color); */
   background-blend-mode: multiply;
   position: absolute;
   top: 0;
   right: 0;
   width: 100%;
   height: 90%;
   border-radius: 4px;
   clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 80% 100%, 80% 80%, 75% 60%, 65% 60%, 55% 20%, 20% 20%, 10% 55%, 10% 20%, 0% 20%, 0% 0%);
}
#picture_frame-drag_race .highway .cars .car .doors {}
#picture_frame-drag_race .highway .cars .car .windows {}
#picture_frame-drag_race .highway .cars .car .lights {
   /* height: calc(var(--car-height) / 2.5);
   top: 40%;
   right: 2px;
   width: 10px;
   background: gold;
   mask: */
   
}
#picture_frame-drag_race .highway .cars .car .wheels {}
#picture_frame-drag_race .highway .cars .car.car-2 {}
#picture_frame-drag_race .highway .cars .car.car-3 {}
#picture_frame-drag_race .highway .cars .car.car-4 {}
#picture_frame-drag_race .highway .cars .car.car-5 {}