:root {
   --car-width: 64px;
   --car-height: 36px;
   --car-primary-color: slategray;
   --car-secondary-color: lightslategray;
   --car-vibrate-animation: drag_race-car_vibrate 0.2s ease-in-out infinite;
   --car-throttle-animation: drag_race-car_throttle_onoff ease-in-out infinite;
   --car-handling-animation: drag_race-car_handling infinite;
   --car-handling-drift: 1px; /* DEFAULT VALUE WHICH CAN BE OVERRIDEN */
}

#picture_frame-drag_race .cityscape-background,
#picture_frame-drag_race .highway {
    content: '';
    position: absolute;
}

 #picture_frame-drag_race .cityscape-background {
    width: 100%;
 }

 #picture_frame-drag_race .highway {
    width: 100%;
    height: 80%;
    top: 10%;
    background: linear-gradient(to bottom, slategray, darkslategray);
 }
 #picture_frame-drag_race .highway .road-lines .lane {
    position: absolute;
    /* display: flex;
    flex-direction: row;
    align-items: center; */
    height: 48%;
    width: 100%;
    z-index: 1;
 }
 #picture_frame-drag_race .highway .road-lines .lane hr {
    position: absolute;
    top: 2.5ch;
    width: 125%;
    color: whitesmoke;
    mask: repeating-linear-gradient(to left, #000 0 24px, transparent 24px 48px);
    border: none;
    border-top: solid whitesmoke 8px;
    animation: drag_race-lane_hr 0.2s linear infinite;
 }
 #picture_frame-drag_race .highway .road-lines .division {
    position: absolute;
    border-top: 2px gold solid;
    border-bottom: 2px gold solid;
    height: 6px;
    width: 100%;
    top: calc(50% - 3px);
    z-index: 2;
 }

 #picture_frame-drag_race .highway .road-lines .lane:first-of-type {
    top: 1%;
    border-top: 2px whitesmoke solid;
    border-bottom: 2px whitesmoke solid;
 }
 #picture_frame-drag_race .highway .road-lines .lane:last-of-type {
    bottom: 1%;
    border-top: 2px lightgray solid;
    border-bottom: 2px lightgray solid;
 }

#picture_frame-drag_race .highway .cars,
#picture_frame-drag_race .highway .cars .car,
#picture_frame-drag_race .highway .cars .car * {
   position: absolute;
}
#picture_frame-drag_race .highway .cars {
   width: 100%;
   height: 100%;
   z-index: 3;
}
#picture_frame-drag_race .highway .cars .car {
   width: var(--car-width);
   height: var(--car-height);
   top: var(--car-position-top);
   left: var(--car-position-left);
   filter: drop-shadow(1px 2px 0px #00000022);
}

#picture_frame-drag_race .highway .cars .car .body {
   background: var(--car-primary-color);
   width: 100%;
   height: 100%;
   clip-path: polygon(0% 30%, 10% 10%, 20% 10%, 20% 20%, 30% 0%, 70% 0%, 80% 20%, 95% 20%, 100% 40%,
   100% 60%, 85% 100%, 0% 100%);
}
#picture_frame-drag_race .highway .cars .car .body:after {
   content: '';
   background: #FFFFFF22;
   /* background: var(--car-secondary-color); */
   background-blend-mode: multiply;
   position: absolute;
   top: 0;
   right: 0;
   width: 100%;
   height: 90%;
   border-radius: 4px;
   clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 80% 100%, 80% 80%, 75% 60%, 65% 60%, 55% 20%, 20% 20%, 10% 50%, 10% 30%, 0% 30%, 0% 0%);
}
#picture_frame-drag_race .highway .cars .car .windows {}
#picture_frame-drag_race .highway .cars .car .lights {
   height: 8px;
   top: 50%;
   right: 2px;
   width: calc(var(--car-height) / 4);
   background: linear-gradient(to bottom, whitesmoke, lightslategray);
   mask: linear-gradient(to right, #fff 0 33%, #777 33% 70%, #fff 70% 100%);
   mask-mode: luminance;
   transform: skewY(-59deg);
   /* transform: rotateZ(-60deg); */
   overflow: visible;
}
#picture_frame-drag_race .highway .cars .car .lights:after {
   content: '';
   position: absolute;
   bottom: 0px;
   width: 100%;
   height: 2px;
   mask: unset;
   background: gold;
}
#picture_frame-drag_race .highway .cars .car .doors {
   width: calc(var(--car-width) * 0.8);
   bottom: 4px;
   left: 20%;
}
#picture_frame-drag_race .highway .cars .car .doors:before,
#picture_frame-drag_race .highway .cars .car .doors:after {
   position: absolute;
   content: '';
   /* padding: 2px; */
   width: 14px;
   height: 14px;
   border-radius: 7px;
   bottom: -8px;
   background: radial-gradient(silver 0 20%, slategray 20% 40%, #222 40% 100%);
}

#picture_frame-drag_race .highway .cars .car .doors:before {
   left: -6px;
}
#picture_frame-drag_race .highway .cars .car .doors:after {
   left: 22px;
}

#picture_frame-drag_race .highway .cars .car.car-1 {
   --car-position-top: 10%;
   --car-position-left: calc(75% - calc(var(--car-width) / 2));
   --car-primary-color: linear-gradient(to top, #992233, #BB4455);
   animation:
      var(--car-vibrate-animation),
      var(--car-throttle-animation) 2s;
}
#picture_frame-drag_race .highway .cars .car.car-2 {
   --car-position-top: 24%;
   --car-position-left: calc(52% - calc(var(--car-width) / 2));
   --car-primary-color: linear-gradient(to top, #112299, #3344BB);
   --car-handling-drift: 4px;
   animation:
      var(--car-vibrate-animation),
      var(--car-handling-animation) 2s linear,
      var(--car-throttle-animation) 3s;
}
#picture_frame-drag_race .highway .cars .car.car-3 {
   --car-position-top: 4%;
   --car-position-left: calc(35% - calc(var(--car-width) / 2));
   --car-primary-color: linear-gradient(to top, slategray, whitesmoke);
   animation:
      var(--car-vibrate-animation) reverse,
      var(--car-handling-animation) 3s ease-in-out reverse,
      var(--car-throttle-animation) 2s reverse;
}
#picture_frame-drag_race .highway .cars .car.car-4 {
   --car-position-top: 55%;
   --car-position-left: calc(42% - calc(var(--car-width) / 2));
   --car-primary-color: linear-gradient(to top, #DDBB22, #886611);
   animation:
      var(--car-vibrate-animation),
      var(--car-handling-animation) 2s reverse,
      var(--car-throttle-animation) 2.5s reverse;
}
#picture_frame-drag_race .highway .cars .car.car-5 {
   --car-position-top: 76%;
   --car-position-left: calc(25% - calc(var(--car-width) / 2));
   --car-primary-color: linear-gradient(to top, green, darkgreen);
   --car-handling-drift: 5px;
   animation:
      var(--car-vibrate-animation) reverse,
      var(--car-handling-animation) 2.5s linear reverse,
      var(--car-throttle-animation) 3s;
}

@keyframes drag_race-car_vibrate {
   0% {
      transform: translateX(0px);
   }
   100% {
      transform: translateY(0.5px);
   }
}

@keyframes drag_race-car_throttle_onoff {
   0% {
      left: calc(var(--car-position-left) - 2px);
   }
   50% {
      left: calc(var(--car-position-left) + 2px);
   }
   100% {
      left: calc(var(--car-position-left) - 2px);
   }
}
@keyframes drag_race-car_handling {
   0% {
      top: var(--car-position-top);
   }
   25% {
      top: calc(var(--car-position-top) + var(--car-handling-drift));
   }
   75% {
      top: calc(var(--car-position-top) - var(--car-handling-drift));
   }
   100% {
      top: var(--car-position-top);
   }
}
@keyframes drag_race-lane_hr {
   0% {
      transform: translateX(0px);
   }
   100% {
      transform: translateX(-48px);
   }
}