#picture_frame-drag_race .cityscape-background,
#picture_frame-drag_race .highway {
    content: '';
    position: absolute;
}

 #picture_frame-drag_race .cityscape-background {
    width: 100%;
 }

 #picture_frame-drag_race .highway {
    width: 100%;
    height: 80%;
    top: 10%;
    background: linear-gradient(to bottom, slategray, darkslategray);
 }
 #picture_frame-drag_race .highway .road-lines .lane {
    position: absolute;
    /* display: flex;
    flex-direction: row;
    align-items: center; */
    height: 48%;
    width: 100%;
    z-index: 1;
 }
 #picture_frame-drag_race .highway .road-lines .lane hr {
    position: absolute;
    top: 2.5ch;
    width: 100%;
    color: whitesmoke;
    border: none;
    border-top: dashed whitesmoke 8px;
 }
 #picture_frame-drag_race .highway .road-lines .division {
    position: absolute;
    border-top: 2px gold solid;
    border-bottom: 2px gold solid;
    height: 6px;
    width: 100%;
    top: calc(50% - 3px);
    z-index: 2;
 }

 #picture_frame-drag_race .highway .road-lines .lane:first-of-type {
    top: 1%;
    border-top: 2px whitesmoke solid;
    border-bottom: 2px whitesmoke solid;
 }
 #picture_frame-drag_race .highway .road-lines .lane:last-of-type {
    bottom: 1%;
    border-top: 2px lightgray solid;
    border-bottom: 2px lightgray solid;
 }