/* ----- BASIC BEACH SHAPE (SKY, SEA, SAND) ----- */

/* === SKY (BACKGROUND) === */
#picture_frame-sunny_beach {
    background: linear-gradient(to bottom, dodgerblue, skyblue);
    background-position-y: -120px;
}

/* === SAND === */
#picture_frame-sunny_beach .sand {
    position: absolute;
    --mask:
    /* BOTTOM */
    /* radial-gradient(.99px at 50% calc(100% - 48px),#000 99%,#0000 101%) calc(50% - 60px) 0/120px 100%,
    radial-gradient(34.99px at 50% calc(100% + 18px),#0000 99%,#000 101%) 50% calc(100% - 30px)/120px 100% repeat-x; */
    /* TOP */
    /* radial-gradient(24.99px at 50% 48px,#000 99%,#0000 101%) calc(50% - 60px) 0/120px 100%,
    radial-gradient(24.99px at 50% -18px,#0000 99%,#000 101%) 50% 30px/120px 100% repeat-x; */
    /* TOP softer */
    radial-gradient(50.4px at 50% 70.5px,#000 99%,#0000 101%) calc(50% - 60px) 0/120px 100%,
    radial-gradient(50.4px at 50% -40.5px,#0000 99%,#000 101%) 50% 30px/120px 100% repeat-x;

    -webkit-mask: var(--mask);
    mask: var(--mask);

    background: radial-gradient(burlywood, beige);
    background-size: 400%;
    background-position: center;
    min-height: 37%;
    min-width: 100%;
    bottom: 0;
}

/* === SEA === */
#picture_frame-sunny_beach .sea {
    position: absolute;
    opacity: 87%;
    background: radial-gradient(lightblue, teal);
    background-size: 200%;
    background-position-x: center;
    min-height: 50%;
    min-width: 100%;
    bottom: 0;
}

/* ----- SKY DETAILS ----- */

/* === SUN === */
#picture_frame-sunny_beach .sun {
    position: absolute;
    top: 1em;
    left: 25%;
    min-height: 21px;
    min-width: 21px;
    border-radius: 50%;
    animation: sunny_beach-sun_glow 3s linear infinite alternate;
    background-image: radial-gradient(circle at top right, gold, yellow);
}

/* === CLOUDS === */
#picture_frame-sunny_beach .cloud-left,
#picture_frame-sunny_beach .cloud-left:before,
#picture_frame-sunny_beach .cloud-left:after,
#picture_frame-sunny_beach .cloud-right,
#picture_frame-sunny_beach .cloud-right:before,
#picture_frame-sunny_beach .cloud-right:after {
    content: '';
    position: absolute;
    width: var(--cloud-width);
    height: var(--cloud-height);
    border-radius: var(--cloud-border-radius);
    background: radial-gradient(#ffffffdd, #ffffffaa);
    animation: sunny_beach-cloud_blur 4s ease-in-out infinite;
    border-bottom: 2px lightblue solid;
}
#picture_frame-sunny_beach .cloud-right {
    top: 15%;
    left: 36%;
    --cloud-width: 36px;
    --cloud-height: 12px;
    --cloud-border-radius: 8px;
    animation: sunny_beach-cloud_idle 20s linear infinite alternate;
}
#picture_frame-sunny_beach .cloud-right:before {
    top: -32%;
    left: 24%;
    --cloud-width: 18px;
    --cloud-height: 18px;
    --cloud-border-radius: 8px;
}
#picture_frame-sunny_beach .cloud-right:after {
    top: -9px;
    right: -3px;
    --cloud-width: 21px;
    --cloud-height: 21px;
    --cloud-border-radius: 18px;
}
#picture_frame-sunny_beach .cloud-left {
    top: 13%;
    left: 7%;
    --cloud-width: 36px;
    --cloud-height: 14px;
    --cloud-border-radius: 12px;
    animation: sunny_beach-cloud_idle 25s linear infinite alternate;
}
#picture_frame-sunny_beach .cloud-left:before {
    top: -10%;
    right: 8%;
    --cloud-width: 16px;
    --cloud-height: 16px;
    --cloud-border-radius: 8px;
}
#picture_frame-sunny_beach .cloud-left:after {
    top: -7px;
    left: 4px;
    --cloud-width: 20px;
    --cloud-height: 20px;
    --cloud-border-radius: 18px;
}

#picture_frame-sunny_beach .ship {
    position: absolute;
    bottom: 50%;
    --ship-width: 48px;
    --ship-height: 24px;
    width: var(--ship-width);
    height: var(--ship-height);
    background: linear-gradient(to bottom,
    #00000000 0%, #00000000 19.99999%,
    crimson 20%, maroon 100%);
    clip-path: polygon(
        0% 55%, 25% 60%, 25% 0%, 80% 0, 80% 60%, 100% 55%,
        90% 100%, 15% 100%, 0% 55%
    );
    animation-timing-function: linear;
    animation-name: sunny_beach-ship_move;
    animation-iteration-count: infinite;
    animation-duration: 60s;
}

#picture_frame-sunny_beach .ship .cabin {
    position: relative;
    top: 4px;
    height: 41%;
    width: 100%;
    background: white;
}

#picture_frame-sunny_beach .ship .cabin .windows {
    position: absolute;
    top: 20%;
    --cabin-window-widthheight: 6px;
    --window-color: #77bbdd;
    left: calc(50% - calc(var(--cabin-window-widthheight) / 2));
    width: var(--cabin-window-widthheight);
    height: var(--cabin-window-widthheight);
    background: linear-gradient(to left,
    var(--window-color) 0% , var(--window-color) 39.99999%,
    #00000000 40%, #00000000 59.99999%,
    var(--window-color) 60%, var(--window-color) 100%);
    clip-path: polygon(
        /* 100% 100%, 100% 55%, 55% 55%, 55% 100%, 45% 100%, 45% 55%, 0% 55%, 0% 100% */
    );
}

#picture_frame-sunny_beach .ship .cabin .chimney {
    position: absolute;
    top: -8px;
    left: 18px;
    height: 8px;
    width: 4px;
    background: darkslategray;
}
@keyframes sunny_beach-sun_glow {
    0% {
        filter: drop-shadow(0px 0px 8px gold);
        transform: rotate(0deg);
    }
    25% {
        filter: drop-shadow(0px 0px 12px gold);
        transform: rotate(90deg);
    }
    50% {
        filter: drop-shadow(0px 0px 8px gold);
        transform: rotate(180deg);
    }
    75% {
        filter: drop-shadow(0px 0px 12px gold);
        transform: rotate(270deg);
    }
    100% {
        filter: drop-shadow(0px 0px 8px gold);
        transform: rotate(360deg);
    }
}
@keyframes sunny_beach-cloud_idle {
    0% { transform: translateX(0);}
    100% { transform: translateX(10px);}
}
@keyframes sunny_beach-cloud_blur {
    0% { filter: blur(0); }
    50% { filter: blur(1px); }
    100% { filter: blur(0); }
}
@keyframes sunny_beach-ship_move {

    0% {
        /* left: calc(100% - calc(var(--ship-width) / 2)); */
        left: 100%;
    }
    100% {
        left: calc(0% - var(--ship-width));
        /* left: calc(-5% - calc(var(--ship-width) / 2)); */
    }
}