<div class="grid-tecnologia-izquierda">
    <div class="area-titulo-descripcion">
        <h2>CSS Gallery</h2>
        <h4>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam, a.</h4>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt quia nam tenetur saepe commodi harum adipisci debitis, iure possimus numquam.</p>
    </div>
    <div class="area-imagen">
        <img src="img/icons/technologies/web/globe-with-meridians-svgrepo-com.svg">
    </div>
</div>

<link rel="stylesheet" type="text/css" href="css/pages/web/css-gallery/sunny-beach.css">

<div class="d-flex flex-row justify-content-around">
    <div class="col-md-3 col-sm-9">
        <h3 class="fst-italic">"Sunny Beach"</h3>
        <div id="picture_frame-sunny_beach">
            <div class="sun"></div>
            <div class="ship">
                <div class="cabin">
                    <div class="chimney"></div>
                    <div class="windows"></div>
                </div>
                <div class="body"></div>
            </div>
            <div class="sea"></div>
            <div class="sand"></div>
        </div>
    </div>
    <div class="col-md-3 col-sm-9">
        <h3 class="fst-italic">"Rainy Forest"</h3>
        <div id="picture_frame-rainy_forest">
        </div>
    </div>
</div>