<div class="grid-tecnologia-izquierda">
    <div class="area-titulo-descripcion">
        <h2>Console application / CLI development</h2>
        <h4>Ultra-lightweight text interface applications and automated tasks</h4>
        <p>Console applications for business, development or general computing tasks which do not require a complex or modern visual interface.</p>
    </div>
    <div class="area-imagen">
        <img src="img/icons/technologies/cli/terminal-svgrepo-com.svg">
    </div>
</div>

<div class="row py-4 d-flex flex-row flex-wrap justify-content-around align-items-start" id="consolecli-techs">
</div>