<div class="grid-tecnologia-derecha">
    <div class="area-titulo-descripcion">
        <h2>Databases</h2>
        <h4>Efficient and secure data storage and querying</h4>
        <p>Mindful and scalable data structures with a focus on modularization and efficiency.</p>
        <p>State-of-the-art security measures to protect any and all sensitive information.</p>
    </div>
    <div class="area-imagen">
        <img src="img/icons/technologies/db/database-svgrepo-com.svg">
    </div>
</div>

<h5 class="text-center fw-bolder py-4">SQL Databases</h5>
<div class="row py-4 d-flex flex-row flex-wrap justify-content-around align-items-start" id="SQL-database-techs">
</div>
<!-- <h5 class="text-center fw-bolder py-4">Others</h5>
<div class="row py-4 d-flex flex-row flex-wrap justify-content-around align-items-start" id="other-database-techs">
</div> -->