<div class="grid-tecnologia-derecha">
    <div class="area-titulo-descripcion">
        <h2>Desktop development</h2>
        <h4>Desktop applications with simple and robust logic to stand to the test of time</h4>
        <p>Lightweight, local execution, offline-first OS-native apps.</p>
    </div>
    <div class="area-imagen"></div>
</div>

<div class="row py-4 d-flex flex-row flex-wrap justify-content-around align-items-start" id="desktop-techs">
</div>

<div class="row py-4 d-flex flex-row flex-wrap justify-content-around align-items-start" id="webdesktop-techs">
</div>