<div class="grid-tecnologia-izquierda">
    <div class="area-titulo-descripcion">
        <h2>Web development</h2>
        <h4>Web applications with solid and mindful groundwork to meet your needs</h4>
        <p>Online or LAN applications for web browsers of all operating systems.</p>
    </div>
    <div class="area-imagen">
        
    </div>
</div>

<h5 class="text-center fw-bolder py-4">Frontend</h5>
<div class="row py-4 d-flex flex-row flex-wrap justify-content-around align-items-start" id="web-frontend">
</div>

<h5 class="text-center fw-bolder py-4">Backend</h5>
<div class="row py-4 d-flex flex-row flex-wrap justify-content-around align-items-start" id="web-backend">
</div>