<div class="d-flex flex-row">
    <div class="text-start w-75">
        <h1>Web development</h1>
        <h3>Web applications with solid and mindful groundwork to meet your needs</h3>
        <p>Online or LAN applications for web browsers of all operating systems.</p>
    </div>
    <div class="text-end w-25">
        
    </div>
</div>

<h4 class="text-center fw-bolder py-4">Frontend</h4>
<div class="row py-4 d-flex flex-row flex-wrap justify-content-around align-items-start" id="web-frontend">
</div>

<h4 class="text-center fw-bolder py-4">Backend</h4>
<div class="row py-4 d-flex flex-row flex-wrap justify-content-around align-items-start" id="web-backend">
</div>