<!-- bison Pasture Widget -->
<div class="area-header-pasture">
    <div class="m-0 p-0 rounded rounded-4 bg-dark">
        <div class="bison-pasture" id="bison-pasture">
            <div id="sunmoon"></div>
            <div id="cloudstars1"></div>
            <div id="cloudstars2"></div>
            <object class="bison" data="./img/icons/bison-svgrepo-com.svg"></object>
            <object class="herb1" data="./img/icons/environment/grass-leaf-plant-5-svgrepo-com.svg"></object>
            <object class="tree" data="./img/icons/environment/tree-decidious-svgrepo-com.svg"></object>
        </div>
        <div class="d-flex flex-row gap-1">
            <div class="d-flex flex-row justify-content-center align-items-center text-white py-1">
                <p class="fs-8 m-0 p-0">Scene:</p>
                &nbsp;
                <div class="dropdown">
                    <button class="btn btn-secondary p-1 dropdown-toggle fs-9" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="scene-dropdown-button">
                        <!-- <img src="./img/icons/environment/sun-svgrepo-com.svg" width="12px" height="auto"></object>
                        Sunny Day -->
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark fs-9">
                        <li><h6 class="dropdown-header" data-langkey="scene-dropdown-header">Select Scene</h6></li>
                        <li>
                            <a class="dropdown-item scene-dropdown-item" href="#" data-scene-toggle="sunnyday">
                                <img src="./img/icons/environment/sun-svgrepo-com.svg" width="12px" height="auto"></object>
                                Sunny Day
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item scene-dropdown-item" href="#" data-scene-toggle="clearnight">
                                <img src="./img/icons/environment/moon-svgrepo-com.svg" width="12px" height="auto"></object>
                                Clear Night
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item scene-dropdown-item" href="#" data-scene-toggle="rainyday">
                                <img src="./img/icons/environment/rain-svgrepo-com.svg" width="12px" height="auto"></object>
                                Rainy Day
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item scene-dropdown-item" href="#" data-scene-toggle="cloudynight">
                                <img src="./img/icons/environment/moon-svgrepo-com.svg" width="12px" height="auto"></object>
                                Cloudy Night
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="d-flex flex-row justify-content-center align-items-center text-white py-1">
                <p class="fs-8 m-0 p-0 text-light">Orientation:</p>
                &nbsp;
                <div class="dropdown">
                    <button class="btn btn-secondary p-1 dropdown-toggle fs-9" type="button" data-bs-toggle="dropdown" aria-expanded="false"  id="sceneorientation-dropdown-button">
                        Left
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark fs-9">
                        <li><h6 class="dropdown-header" data-langkey="sceneorientation-dropdown-header">Select Orientation</h6></li>
                        <li>
                            <a class="dropdown-item sceneorientation-dropdown-item" href="#" data-sceneorientation-toggle="left">
                                Left
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item sceneorientation-dropdown-item" href="#" data-sceneorientation-toggle="right">
                                Right
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>