<link rel="stylesheet" id="theme-css" href="">
<!-- bison Pasture Widget -->
<div class="d-flex flex-row col-3 row m-0 p-0 justify-content-center">
    <div class="d-flex flex-column m-0 p-0 rounded rounded-4 bg-dark">
        <div class="bison-pasture sunnyday left" id="bison-pasture">
            <div id="sunmoon"></div>
            <div id="cloudstars1"></div>
            <div id="cloudstars2"></div>
            <object class="bison" data="./img/icons/bison-svgrepo-com.svg"></object>
            <object class="herb1" data="./img/icons/environment/grass-leaf-plant-5-svgrepo-com.svg"></object>
            <object class="tree" data="./img/icons/environment/tree-decidious-svgrepo-com.svg"></object>
        </div>
        <div class="d-flex flex-row justify-content-center align-items-center text-white py-1">
            <p class="fs-8 m-0 p-0">Scene:</p>
            &nbsp;
            <div class="dropdown">
                <button class="btn btn-secondary p-1 dropdown-toggle fs-7" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="scene-dropdown-button">
                    <img src="./img/icons/environment/sun-svgrepo-com.svg" width="12px" height="auto"></object>
                    Sunny Day
                </button>
                <ul class="dropdown-menu dropdown-menu-dark fs-7">
                    <li><h6 class="dropdown-header fs-7" data-langkey="scene-dropdown-header">Select Scene</h6></li>
                    <li>
                        <a class="dropdown-item scene-dropdown-item" href="#" data-scene-toggle="sunnyday">
                            <img src="./img/icons/environment/sun-svgrepo-com.svg" width="12px" height="auto"></object>
                            Sunny Day
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item scene-dropdown-item" href="#" data-scene-toggle="clearnight">
                            <img src="./img/icons/environment/moon-svgrepo-com.svg" width="12px" height="auto"></object>
                            Clear Night
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item scene-dropdown-item" href="#" data-scene-toggle="rainyday">
                            <img src="./img/icons/environment/rain-svgrepo-com.svg" width="12px" height="auto"></object>
                            Rainy Day
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item scene-dropdown-item" href="#" data-scene-toggle="cloudynight">
                            <img src="./img/icons/environment/moon-svgrepo-com.svg" width="12px" height="auto"></object>
                            Cloudy Night
                        </a>
                    </li>
                </ul>
            </div>
            &nbsp;
            <p class="fs-8 m-0 p-0 text-light">Orientation:</p>
            &nbsp;
            <div class="dropdown">
        <button class="btn btn-secondary p-1 dropdown-toggle fs-7" type="button" data-bs-toggle="dropdown" aria-expanded="false"  id="sceneorientation-dropdown-button">
            Left
        </button>
        <ul class="dropdown-menu dropdown-menu-dark fs-7">
            <li><h6 class="dropdown-header fs-7" data-langkey="sceneorientation-dropdown-header">Select Orientation</h6></li>
            <li>
                <a class="dropdown-item sceneorientation-dropdown-item" href="#" data-sceneorientation-toggle="left">
                    Left
                </a>
            </li>
            <li>
                <a class="dropdown-item sceneorientation-dropdown-item" href="#" data-sceneorientation-toggle="right">
                    Right
                </a>
            </li>
        </ul>
    </div>
        </div>
    </div>
</div>

<!-- Middle Column (title and subtitle) -->
<a href="./" class="d-flex flex-column col-6 align-self-start text-decoration-inherit text-inherit router-link">
    <h1 class="mb-0 fw-bold text-center">Francisco Hernández</h1>
    <div class="d-flex flex-row justify-content-center align-items-center">
        <div class="d-flex flex-column w-16 align-items-end">
            <object data="./img/icons/bison-2-svgrepo-com.svg" width="auto" height="42px" class="flip-horizontal"></object>
        </div>
        <div class="d-flex flex-column w-65 text-center">
            <h2 class="fs-3 m-0 fw-semibold">IT & Creative Solutions</h2>
        </div>
        <div class="d-flex flex-column w-16 align-items-start">
            <object data="./img/icons/bison-2-svgrepo-com.svg" width="auto" height="42px"></object>
        </div>
    </div>
</a>

<!-- Language Picker -->
<div class="d-flex flex-row col-3 align-items-center justify-content-center gap-1">
    <div class="dropdown d-flex flex-column">
        <p class="fs-8 m-0 p-0" data-langkey="theme">Theme:</p>
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="theme-dropdown-toggle">
            Light
        </button>
        <ul class="dropdown-menu dropdown-menu-dark">
            <li><h6 class="dropdown-header" data-langkey="theme-dropdown-header">Select Theme</h6></li>
            <li>
                <a class="dropdown-item theme-dropdown-item" href="#" data-theme-toggle="light">
                    Light
                </a>
            </li>
            <li>
                <a class="dropdown-item theme-dropdown-item" href="#" data-theme-toggle="dark">
                    Dark
                </a>
            </li>
        </ul>
    </div>
    <div class="dropdown d-flex flex-column">
        <p class="fs-8 m-0 p-0" data-langkey="language">Language:</p>
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="language-dropdown-toggle">
            <img src="./img/icons/flags/en.svg" width="16px" height="auto">
            English
        </button>
        <ul class="dropdown-menu dropdown-menu-dark">
            <li><h6 class="dropdown-header" data-langkey="lang-dropdown-header">Select Language</h6></li>
            <li>
                <a class="dropdown-item language-dropdown-item" href="#" data-lang-toggle="en">
                    <img src="./img/icons/flags/en.svg" width="16px" height="auto">
                    English
                </a>
            </li>
            <li>
                <a class="dropdown-item language-dropdown-item" href="#" data-lang-toggle="es">
                    <img src="./img/icons/flags/es.svg" width="16px" height="auto">
                    Español
                </a>
            </li>
        </ul>
    </div>
</div>