<link rel="stylesheet" id="theme-css" href="./css/theme-light.css">
<div class="left-area-header-inner"></div>

<!-- Middle Column (title and subtitle) -->
<a href="./" class="area-header-heading d-flex flex-column justify-content-center text-inherit text-decoration-inherit">
    <h1 class="mb-0 fw-bold text-center">Francisco Hernández</h1>
    <div class="d-flex flex-row mb-4 justify-content-center align-items-center">
        <div class="d-flex flex-column w-16 align-items-end">
            <object data="./img/icons/bison-2-svgrepo-com.svg" width="auto" height="42px" class="flip-horizontal"></object>
        </div>
        <div class="d-flex flex-column w-65 text-center">
            <h2 class="fs-3 m-0 fw-semibold">IT & Creative Solutions</h2>
        </div>
        <div class="d-flex flex-column w-16 align-items-start">
            <object data="./img/icons/bison-2-svgrepo-com.svg" width="auto" height="42px"></object>
        </div>
    </div>
</a>
<div class="area-header-options d-flex flex-row justify-content-center gap-1">
    <!-- Theme picker -->
    <div class="dropdown d-flex flex-row align-items-center gap-1">
        <p class="fs-8 m-0 p-0" data-langkey="theme">Theme:</p>
        <button class="btn btn-secondary dropdown-toggle fs-9" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="theme-dropdown-toggle">
            Light
        </button>
        <ul class="dropdown-menu dropdown-menu-dark fs-9">
            <li><h6 class="dropdown-header" data-langkey="theme-dropdown-header">Select Theme</h6></li>
            <li>
                <a class="dropdown-item theme-dropdown-item" href="#" data-theme-toggle="light">
                    Light
                </a>
            </li>
            <li>
                <a class="dropdown-item theme-dropdown-item" href="#" data-theme-toggle="dark">
                    Dark
                </a>
            </li>
        </ul>
    </div>
    <!-- Language Picker -->
    <!-- 
    <div class="dropdown d-flex flex-column">
        <p class="fs-8 m-0 p-0" data-langkey="language">Language:</p>
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="language-dropdown-toggle">
            <img src="./img/icons/flags/en.svg" width="16px" height="auto">
            English
        </button>
        <ul class="dropdown-menu dropdown-menu-dark">
            <li><h6 class="dropdown-header" data-langkey="lang-dropdown-header">Select Language</h6></li>
            <li>
                <a class="dropdown-item language-dropdown-item" href="#" data-lang-toggle="en">
                    <img src="./img/icons/flags/en.svg" width="16px" height="auto">
                    English
                </a>
            </li>
            <li>
                <a class="dropdown-item language-dropdown-item" href="#" data-lang-toggle="es">
                    <img src="./img/icons/flags/es.svg" width="16px" height="auto">
                    Español
                </a>
            </li>
        </ul>
    </div>
    -->
</div>