<!-- Bull Pasture Widget -->
<div class="d-flex flex-row col-3 row m-0 p-0 justify-content-center">
    <div class="d-flex flex-column m-0 p-0 rounded rounded-4 bg-dark">
        <div class="bull-pasture sunnyday left" id="bull-pasture">
            <object id="sunmoon"></object>
            <object id="cloudstars1"></object>
            <object id="cloudstars2"></object>
            <object class="bull" data="./img/icons/bison-svgrepo-com.svg"></object>
            <object class="herb1" data="./img/icons/environment/grass-leaf-plant-5-svgrepo-com.svg"></object>
            <object class="tree" data="./img/icons/environment/tree-decidious-svgrepo-com.svg"></object>
        </div>
        <div class="d-flex flex-row justify-content-center align-items-center text-white">
            <p class="fs-8 m-0 p-0">Scene:</p>
            &nbsp;
            <div class="dropdown">
                <button class="btn btn-secondary p-1 dropdown-toggle fs-7" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <object data="./img/icons/environment/sun-svgrepo-com.svg" width="12px" height="auto"></object>
                    Sunny Day
                </button>
                <ul class="dropdown-menu dropdown-menu-dark fs-7">
                    <li><h6 class="dropdown-header fs-7" data-langkey="lang-dropdown-header">Select Scene</h6></li>
                    <li>
                        <a class="dropdown-item scene-dropdown-item" href="#" data-scene-toggle="sunnyday">
                            <object data="./img/icons/environment/sun-svgrepo-com.svg" width="12px" height="auto"></object>
                            Sunny Day
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item scene-dropdown-item" href="#" data-scene-toggle="clearnight">
                            <object data="./img/icons/environment/moon-svgrepo-com.svg" width="12px" height="auto"></object>
                            Clear Night
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item scene-dropdown-item" href="#" data-scene-toggle="rainyday">
                            <object data="./img/icons/environment/rain-svgrepo-com.svg" width="12px" height="auto"></object>
                            Rainy Day
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item scene-dropdown-item" href="#" data-scene-toggle="cloudynight">
                            <object data="./img/icons/environment/moon-svgrepo-com.svg" width="12px" height="auto"></object>
                            Cloudy Night
                        </a>
                    </li>
                </ul>
            </div>
            &nbsp;
            <p class="fs-8 m-0 p-0 text-light">Orientation:</p>
            &nbsp;
            <div class="dropdown">
        <button class="btn btn-secondary p-1 dropdown-toggle fs-7" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Left
        </button>
        <ul class="dropdown-menu dropdown-menu-dark fs-7">
            <li><h6 class="dropdown-header fs-7" data-langkey="lang-dropdown-header">Select Orientation</h6></li>
            <li>
                <a class="dropdown-item sceneorientation-dropdown-item" href="#" data-sceneorientation-toggle="left">
                    Left
                </a>
            </li>
            <li>
                <a class="dropdown-item sceneorientation-dropdown-item" href="#" data-sceneorientation-toggle="right">
                    Right
                </a>
            </li>
        </ul>
    </div>
        </div>
    </div>
</div>

<!-- Middle Column (title and subtitle) -->
<div class="d-flex flex-row col-6 row m-0 p-0 justify-content-center">
    <div class="d-flex flex-column col-2 align-items-end">
        <object data="./img/icons/buffalo-2-svgrepo-com.svg" width="64px" height="auto"></object>
    </div>
    <div class="d-flex flex-column col-8 text-center">
        <h1 class="fs-2 mb-0 fw-bold">Francisco Hernández</h1>
        <h2 class="fs-3 m-0 fw-semibold">IT & Creative Solutions</h2>
    </div>
    <div class="d-flex flex-column col-2 align-items-start">
        <object data="./img/icons/bison-2-svgrepo-com.svg" width="64px" height="auto"></object>
    </div>
</div>

<!-- Language Picker -->
<div class="d-flex flex-column col-3 align-items-center">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <object data="./img/icons/flags/en.svg" width="16px" height="auto"></object>
            English
        </button>
        <ul class="dropdown-menu dropdown-menu-dark">
            <li><h6 class="dropdown-header" data-langkey="lang-dropdown-header">Select Language</h6></li>
            <li>
                <a class="dropdown-item language-dropdown-item" href="#" data-lang-toggle="en">
                    <object data="./img/icons/flags/en.svg" width="16px" height="auto"></object>
                    English
                </a>
            </li>
            <li>
                <a class="dropdown-item language-dropdown-item" href="#" data-lang-toggle="es">
                    <object data="./img/icons/flags/es.svg" width="16px" height="auto"></object>
                    Español
                </a>
            </li>
        </ul>
    </div>
</div>