<div class="d-flex flex-row justify-content-between">
    <div class="w-30"></div>
    <div class="text-end w-70">
        <h3 data-langkey="audioprod-title" class="fw-bold text-end">
            Audio and Music Production
        </h3>
        <p data-langkey="audioprod-text" class="fs-6">
            Sound design, mixing and mastering, as well as musical instrumentation and arrangements, with a vintage/classic-focused but adaptable production style.
        </p>
        <a href="#" class="btn btn-seemore">
            < See More
        </a>
    </div>
</div>