<div class="d-flex flex-row justify-content-between text-inherit text-decoration-inherit w-100">
    <div class="text-start w-70">
        <h3 data-langkey="dev-title" class="fw-bold text-start w-100">
            Web/Desktop/CLI Application Development
        </h3>
        <p data-langkey="webdev-text" class="fs-6">
            Robust applications with efficient and mindful inner workings to ensure reliable performance; conscious, custom made user interfaces with an emphatic focus on style, feature modularity and system status visibility.
        </p>
        <a href="#" class="btn btn-seemore">
            See More >
        </a>
    </div>
    <div class="w-30 d-flex flex-column justify-content-stretch">
        
    </div>
</div>