.img-underlay {
    width: 100vw;
    height: 100vh;
    background-image: url('../../img/pages/dev/negative-space-programming-java-code.jpg') !important;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position-y: center;
    opacity: 100%;
}
#web {
    background: linear-gradient(to right, #CC22FF1E 0%, transparent 66%);
}
#desktop {
    background: linear-gradient(to left, #44CC881E 0%, transparent 66%);
}
#cli {
    background: linear-gradient(to right, #8800111E 0%, transparent 66%);
}
#db {
    background: linear-gradient(to left, #4488CC1E 0%, transparent 66%);
}