<div class="background">
    <div class="cityscape"></div>
    <div class="river"></div>
    <div class="forest"></div>
</div>
<div class="highway">
    <div class="cars">
        <div class="car car-1">
            <div class="body"></div>
            <div class="doors-wheels"></div>
            <div class="windows"></div>
            <div class="lights"></div>
        </div>
        <div class="car car-2">
            <div class="body"></div>
            <div class="doors-wheels"></div>
            <div class="windows"></div>
            <div class="lights"></div>
        </div>
        <div class="car car-3">
            <div class="body"></div>
            <div class="doors-wheels"></div>
            <div class="windows"></div>
            <div class="lights"></div>
        </div>
        <div class="car car-4">
            <div class="body"></div>
            <div class="doors-wheels"></div>
            <div class="windows"></div>
            <div class="lights"></div>
        </div>
        <div class="car car-5">
            <div class="body"></div>
            <div class="doors-wheels"></div>
            <div class="windows"></div>
            <div class="lights"></div>
        </div>
    </div>
    <div class="road-lines">
        <div class="lane">
            <hr/>
        </div>
        <div class="division"></div>
        <div class="lane">
            <hr/>
        </div>
    </div>
</div>